@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 50px auto;
    font-family: sans-serif;
}
h1{
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #14563a;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
h1, h4, p{
    text-align: center;
}
label, p{
    font-size: 11px;
    /* margin-bottom: 5px; */
}
label::placeholder{
    margin-left: 10px;
}
/*  빨간색 * 표시 */
span{
    font-weight: bold;
    color: red;
}
/* 녹색 (필수) 표시*/
fieldset ul li .necessary{
    color: green;
}
/* 검정 (선택) 표시*/
form ul .birthday .choice,form ul .gender .choice
, fieldset ul li .choice{
    color: black;
}
ul{
    list-style: none;
}
li{
    margin: 0 20px 0;
    margin-bottom: 20px;
}
li .form{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 15px; */
    /* border: 1px solid red; */
}
p.info{
    text-align: left;
}
form ul li input[type='password']{
    margin-bottom: 0;
}
form ul li .small{
    text-align: left;
}
/* 입력창 CSS */
input{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
}
input[type='password'], input[type='text'], 
input[type='date']{
    width: 400px;
}
/* 크기 다른 입력창 조정 */
input[type='email']{
    width: 301px;
    margin-right: 5px;
} 
input[type='number']{
    width: 280px;
    margin-right: 5px;
}
/* 녹색버튼 */
form ul li .form button.check, 
form ul li .form button.take{
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    color: green;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 35px
}
form ul li .form button.take{
    width: 111px;
    height: 35px
}
form ul .gender .form{
    width: 400px;
    height: 35px;
}
form ul .gender .form label{
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
form ul{
    /* display: ; */
}
fieldset form ul li {
    display: flex;
    align-items: center;


}
fieldset form ul li label{
    width: 500px;
    height: 35px;
    border: 1px solid red;
}
/* 약관 동의 */



/* 횡단선 */
hr{
    margin: 20px 10px;
    border: 1px solid lightgray;
}
/* 하단 버튼 */
.button{

}
.button .join, .button .login{
    width: 400px;
    height: 35px;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
}
.button .join{
    background-color: green;
    color: white;
    border: none;
}

    