@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    width: 1200px;
    background-color: rgb(218, 214, 214);
    margin: 50px auto;
}
.card{
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 10px;
    margin: 20px;
    border-radius: 20px 20px;

}
img{
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    vertical-align: bottom;
    
    
}
p{
    width: 300px;
    background-color: white;
    padding: 10px;
}
.item{
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
.detail{
    width: 300px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0 0 20px 20px;
}
