@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family:sans-serif;
}

ul{
    list-style: none;
}
li{
}
.item .images{
    display: inline-block;
}
.item .details{
    display: inline-block;

}

.images img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}
.images .cart{
    width: 20px;
    border-color: none;
}
.images button{
    width: 200px;

}